---
import MainLayout from '../layouts/MainLayout.astro';
import produits from '../data/produits.json';
---
<MainLayout title="Boutique">
  <h1>Le Magasin Ô Fleurs</h1>
  <div class="grille-produits">
    {produits.map((item) => (
      <div class="carte">
        <img src={item.image} alt={item.nom} width="200" />
        <h3>{item.nom}</h3>
        <p>{item.prix}</p>
        <a href={item.lienEtsy} target="_blank">Voir sur Etsy</a>
      </div>
    ))}
  </div>
</MainLayout>