---
import MainLayout from '../layouts/MainLayout.astro';
import prods from '../data/produits.json';
const produits = prods.filter(item => item.type == 'preservation')
---

<MainLayout title="Preservation">
  <h1>Le Magasin Ô Fleurs</h1>
  <div class="grille-produits"> {produits.map((item) => (
      <div class="carte-produit"> <img src={item.image} alt={item.nom} width="220px"/> <h3>{item.nom}</h3>
        <p class="prix-produit">{item.prix}</p>
        <a href={item.lienEtsy} target="_blank" class="btn-panier">Ajouter à votre panier</a>
      </div>
    ))}
  </div>
</MainLayout>